/* Application de la police Poppins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #0e2f44;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

nav a {
  color: #29d9d5;
  margin: 0 1.5rem;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem 10%;
}

section {
  margin-bottom: 3rem;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

footer {
  background-color: #0e2f44;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
body {
  background-image: url("image/Screenshot_2-7-2025_143859_www.bing.com.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(110, 58, 147);
}
.photo-ville {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 1rem auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
/* Application de la police Poppins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #0e2f44;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

nav a {
  color: #29d9d5;
  margin: 0 1.5rem;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem 10%;
}

section {
  margin-bottom: 3rem;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

footer {
  background-color: #0e2f44;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
body {
  background-image: url("image/Screenshot_2-7-2025_143859_www.bing.com.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(110, 58, 147);
}
.photo-ville {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 1rem auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
